{% extends '../index.html' %}
{% load static %}
{% block title %}ggdb{% endblock %}

{% block content %}
<div class="container py-4">
  <div class="row py-lg-5" id="dashboard-main-header">
    <div class="col-lg-12 col-md-12">
      <h1 class="fw-light">ggdb</h1>
      <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe voluptates non accusantium cum earum magni laborum, officia fugit, praesentium impedit. Dolorem qui nam minima, excepturi quia officiis laudantium dolorum dicta.</p>
    </div>
  </div>
</div>
{% endblock %}
