{% extends '../index.html' %}

{% block content %}

{% if messages %}
{% for msg in messages %}
  {% if msg.tags == 'success' %}
  <div class="alert alert-{{ msg.tags }} alert-dismissible fade show d-flex align-item-center" role="alert">
    <i class="bi bi-check-circle-fill"></i>
    <div>{{ msg }}</div>
    <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
{% endfor %}
{% endif %}

<div class="container py-4">
  <div id="waiting-for">
    <h3 class="mb-3">The following keywords are waiting for your intelligence!!</h3>
    <hr>
    <div class="d-flex flex-column flex-wrap mb-3" style="height: 200px">
      {% for k in wf %}
      <form action="/wiki/editor/create/" method="post" id="h{{ k.id }}-create-link-form">
        {% csrf_token %}
        <button class="btn btn-link text-capitalize text-decoration-none" id="h{{ k.id }}-create-link">{{ k.headword }}</button>
        <input type="hidden" name="hidWaitingFor" value="{{ k.id }}">
      </form>
      {% endfor %}
    </div>
  </div>

  <div id="recent-history">
    <h3 class="mb-3">Recent History</h3>
    <hr>
    <ul class="list-group">
      {% for history in rh %}
      {% if history.is_draft %}
      <li class="list-group-item list-group-item-success">
        <a href="#" class="alert-success alert-link text-decoration-none">
          {{ history.editor.username | capfirst }}
        </a>
         creates an article for
         <a href="/wiki/{{history.article.headword.id}}" class="alert-success alert-link text-decoration-none">
           {{ history.article.headword.headword }}
         </a>
        at {{ history.updated_at }}.</li>
      {% else %}
      <li class="list-group-item list-group-item-warning">
        <a href="#" class="alert-warning alert-link text-decoration-none">
          {{ history.editor.username | capfirst }}
        </a>
         updates an article for
         <a href="/wiki/{{ history.article.headword.id }}" class="alert-warning alert-link text-decoration-none">
           {{ history.article.headword.headword }}
         </a>
        at {{ history.updated_at }}.</li>
      {% endif %}
      {% endfor %}
    </ul>

  </div>

  <div id="hot-topics">
    <!-- with respect to [# of update, # of discuss, hits] -->
  </div>

  {% if user.is_authenticated %}
  <a href="/wiki/editor/create/">
    <button class="btn btn-success" type="button">Create</button>
  </a>
  {% else %}
  <a href="/user/signin/">
    <button class="btn btn-success" type="button">Sign in</button>
  </a>
  {% endif %}
</div>

{% endblock %}


{% block js %}
<script>
  window.addEventListener("load",function(hid) {
    document.getElementById(`h${hid}-create-link`).addEventListener("click",function(e) {
      e.preventDefault(); // cancel the link
      var form = document.getElementById(`h${hid}-create-link-form`).submit(); // but make sure nothing has name or ID="submit"
    });
  });
</script>
{% endblock %}
