{% extends './index.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 mt-4"></div>
    <div class="col-md-8 mt-4">

<div class="p-2">
  <h3 class="mb-3">Introduction</h3>
  This is a prototype for the main project.
  <ul>
    <li class="mb-2">'Home' shows how my database work for my project</li>
    <li class="mb-2">'Dashboard' is a prototype for the main contents of my project
      <ul>
        <li>billboard for stocks</li>
        <li>billboard for portfolios</li>
        <li>dashboard for stocks</li>
        <li>dashboard for portfolios</li>
      </ul>
    </li>
    <li class="mb-2">'Wiki' is a prototype for an encyclopedia for customers, benchmarking investopedia.</li>
    <li class="mb-2">'Data' is a prototype for data vending system of the main project, benchmarking French's Data Library.</li>
  </ul>
</div>

<div class="p-2">
  <h3 class="mb-3">Structures</h3>
  <h4 class="mb-3">Database</h4>
  <div class="mb-3">
    <h5 class="mb-2">Data Sources</h5>
    <ul>
      <li class="mb-2">Ebest API (tentative): tick data</li>
      <li class="mb-2">KIND: manage survivors' list</li>
      <li class="mb-2">DART API: fundamentals</li>
    </ul>
    *Tick data requires cost to be legal. Finally, ebest API should be replaced by KOSCOM.
  </div>
  <div class="mb-3">
    <h5 class="mb-2">Update Process</h5>
    <ol>
      <li class="mb-2">Before market opening,
        <ul>
          <li>update survivors' list from KIND</li>
          <li>...</li>
          <li>...</li>
        </ul>
      </li>
      <li class="mb-2">
        After market opening, for every second,
        <ul>
          <li>update a table for tick data (too heavy)</li>
          <li>render data for realtime contents: candlestick, volume chart, etc.</li>
        </ul>
      </li>
      <li class="mb-2">
        For every minute,
        <ul>
          <li>update a table for minute data</li>
          <li>update disclosure</li>
          <li>render data for realtime contents: ...</li>
        </ul>
      </li>
      <li class="mb-2">
        After market closing,
        <ul>
          <li>stop tracking tick data</li>
          <li>stop tracking minute data</li>
          <li>
            keep tracking disclosures
            <ul>
              <li>decide whether update a table of fundamentals based on in-the-market-time disclosures</li>
              <li>if there exists disclosure of changes in fundamental, then update</li>
              <li>else, pass.</li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
  </div>
  <div class="mb-3">
    <h5 class="mb-2">Visualizations of DB works</h5>
    <div class="p-2">
      <ul>
        <li>
          my database has following tables:
          <ul>
            <li>ticks</li>
            <li>minutes</li>
            <li>stockmaster</li>
            <li>etc</li>
          </ul>
        </li>
        <li>I try to visualize how my db works for the followings</li>
      </ul>
    </div>
    <div class="p-2">
      <h6>Before market opening</h6>
      <ul>
        <li></li>
      </ul>
    </div>

    <div class="p-2">
      <h6>Tick data</h6>
      <ul>
        <li>Tick data from the source are accumulated on DB for every second</li>
        <li>The following table shows new data accumulated on the DB for every seconds</li>
      </ul>

      <div id="ticksExample">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">datetime</th>
              <th scope="col">market</th>
              <th scope="col">code</th>
              <th scope="col">price</th>
              <th scope="col">side</th>
              <th scope="col">volume</th>
            </tr>
          </thead>
          <tbody>
            {% verbatim %}
            <tr v-for="t in ticks['items']">
              <td class="align-middle">{{ ticks.datetime }}</td>
              <td class="align-middle">{{ t.market }}</td>
              <td class="align-middle">{{ t.stock_code }}</td>
              <td class="align-middle">{{ t.price | integer }}</td>
              <td class="align-middle">{{ t.side }}</td>
              <td class="align-middle">{{ t.volume | integer }}</td>
            </tr>
            <tr v-for="dummy in emptycols" style="height: 41px">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {% endverbatim %}
          </tbody>
        </table>
      </div>

      <div id="minutesExample">
        <table class="table table-hover">
          <thead>
            <th scope="col">datetime</th>
            <th scope="col">code</th>
            <th scope="col">open</th>
            <th scope="col">high</th>
            <th scope="col">low</th>
            <th scope="col">close</th>
            <th scope="col">volume</th>
            <th scope="col">volume_m</th>
          </thead>
          <tbody>
            {% verbatim %}
            <tr v-for="m in minutes['items']">
              <td class="align-middle">{{ minutes.datetime }}</td>
              <td class="align-middle">{{ m.stock_code }}</td>
              <td class="align-middle">{{ m.open | integer }}</td>
              <td class="align-middle">{{ m.high | integer }}</td>
              <td class="align-middle">{{ m.low | integer }}</td>
              <td class="align-middle">{{ m.close | integer }}</td>
              <td class="align-middle">{{ m.volume | integer }}</td>
              <td class="align-middle">{{ m.volume_m | integer }}</td>
            </tr>
            {% endverbatim %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

    </div>
    <div class="col-md-2 mt-4"></div>
  </div>
</div>

{% endblock %}
