{% extends '../index.html' %}
{% load static %}
{% block title %}Dashboard-indicators{% endblock %}
{% block css %}
<!-- <link rel="stylesheet" href="{% static 'css/docs.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/indicators-sidebar.css' %}">
<link rel="stylesheet" href="{% static 'node_modules/katex/dist/katex.min.css' %}">
{% endblock %}

{% block content %}
<!-- <div class="container-fluid p-0 bd-layout"> -->
<div class="container-fluid p-0">
  <div class="row">
    {% include './indicators_sidebar.html' %}
    {% if main.status == 'view_ar_all' %}
      {% include './indicators_main_view_ar_all.html' %}
    {% elif main.status == 'inspect' %}
      {% include './indicators_main_inspect.html'%}
    {% elif main.status == 'view_ar' %}
      {% include './indicators_main_view_ar.html' %}
    {% endif %}
  </div>
</div>


{% endblock %}

{% block js %}
<script src="{% static 'js/sidebars.js' %}"></script>
<script src="{% static 'node_modules/katex/dist/katex.min.js' %}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
{% endblock %}
