{% load humanize %}
<div class="container col-9 p-3">
  <div class="row py-3">
    <div class="col-lg-12 col-md-12">
      <h1 class="fw-light mb-3">지표별 분석: {{ main.account_ratio.labelKor }}</h1>
      <div class="lead text-muted">
        <p>'{{ main.account_ratio.labelKor }}'은 다음과 같이 정의됩니다:</p>
        <p class="text-dark fs-6">$${{ main.account_ratio.syntax_katex }}.$$</p>
        <p class="lead text-muted">{{ main.account_ratio.labelKor }}에 대한 위키가 존재합니다. {{ main.account_ratio.labelKor }}에 대해 더 자세히 알고 싶다면 위키를 확인해보세요: <a href="#" class="text-decoration-none">위키 열기</a>.</p>
        <p class="lead text-muted">{{ main.account_ratio.labelKor }}에 대한 위키가 아직 작성되지 않았습니다: <a href="#" class="text-decoration-none">위키 작성하기</a>.</p>
      </div>
    </div>
  </div>
  <div class="row align-items-md-stretch">
    {% for k, v in main.data.items %}
    <div class="col-md-12 p-3">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2 class="mb-3">{{ k|slice:"4:" }} ({% if k|slice:":3" == 'CFS' %}연결{% else %}별도{% endif %})</h2>
        <p class="lead text-muted">{% now "Y-m-d"%} 04:00 현재 {{ k|slice:"4:" }} 상장종목의 최근 {% if k|slice:":3" == 'CFS' %}연결{% else %}별도{% endif %} 재무제표로부터 산출된 {{ main.account_ratio.labelKor }}의 기초분석결과입니다.</p>
        <hr>
        <p class="fw-bold">데이터 요약</p>
        <ul>
          <li>{{ v.inspect.n_corp_all|intcomma }}개 상장종목 중 {{ v.inspect.missings|length | intcomma }}개 종목이 결측으로 인해 집계대상에서 제외되었습니다: <a href="#" class="text-decoration-none">결측으로 제외된 종목 확인하기</a>.</li>
          {% if v.desc.outliers != None %}
          <li>결측치를 제외한 {{ v.inspect.n_obs|intcomma }}개 종목 중 극단치로 판단되는 {{ v.desc.outliers|length | intcomma }}개 종목 (상하위 각 2.5%)이 집계 대상에서 제외되었습니다: <a href="#" class="text-decoration-none">극단치로 제외된 종목 확인하기</a>.</li>
          {% endif %}
          <li>이에 따라 총 {{ v.desc.desc.종목수|floatformat:"0" | intcomma }}개 종목에 대한 집계결과를 확인할 수 있습니다.</li>
          <li><a href="#" class="text-decoration-none">데이터 확인하기</a></li>
        </ul>
        <p class="fw-bold">분포 정보</p>
        <table class="table table-hover mb-5">
          <thead>
            <tr>
              {% for h in v.desc.desc.keys %}
              <th>{{ h }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for r in v.desc.desc.values %}
              <td>{% if forloop.first %}{{ r|floatformat:"0" | intcomma }}{% else %}{{ r | floatformat:"4"}}{% endif %}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-6">
            {% autoescape off %}
            {{ v.hist }}
            {% endautoescape %}
          </div>
          <div class="col-6">
            <p>[(Search bar and search log) or ranking table here]</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
