{% load humanize %}
<div class="container col-9 p-3">
  <div class="row py-3">
    <div class="col-lg-12 col-md-12">
      <h1 class="fw-light mb-3">지표별 분석: {{ main.data.account_ratio.labelKor }}</h1>
      <div class="lead text-muted">
        <p>'{{ main.data.account_ratio.labelKor }}'은 다음과 같이 정의됩니다:</p>
        <p class="text-dark fs-6">$${{ main.data.account_ratio.syntax_katex }}.$$</p>
        <p class="lead text-muted">{{ main.data.account_ratio.labelKor }}에 대한 위키가 존재합니다. {{ main.data.account_ratio.labelKor }}에 대해 더 자세히 알고 싶다면 위키를 확인해보세요: <a href="#" class="text-decoration-none">위키 열기</a>.</p>
        <p class="lead text-muted">{{ main.data.account_ratio.labelKor }}에 대한 위키가 아직 작성되지 않았습니다: <a href="#" class="text-decoration-none">위키 작성하기</a>.</p>
      </div>
    </div>
  </div>
  <div class="row align-items-md-stretch">
    {% for k, v in main.data.results.items %}
    <div class="col-md-12 p-3">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2 class="mb-3">{{ k|slice:"4:" }} ({% if k|slice:":3" == 'CFS' %}연결{% else %}별도{% endif %})</h2>
        <p class="lead text-muted">{% now "Y-m-d"%} 04:00 현재 {{ k|slice:"4:" }} 상장종목의 최근 {% if k|slice:":3" == 'CFS' %}연결{% else %}별도{% endif %} 재무제표로부터 산출된 {{ main.data.account_ratio.labelKor }}의 기초분석결과입니다.</p>
        <hr>
        <p class="fw-bold">데이터 요약</p>
        <ul>
          <li>총 {{ v.inspect.corp_all|length|intcomma }}개 상장종목 중
            <ul>
              <li>{{ v.inspect.missings.count|intcomma }}개 종목이 결측으로 인해 집계대상에서 제외되었습니다: <a class="text-decoration-none" type="button" id="missingsModalTrigger-{{ k }}" data-bs-toggle="modal" data-bs-target="#missingsModal-{{ k }}">결측으로 제외된 종목 확인하기</a>.</li>
              {% if v.inspect.count != 0 %}
              <li>극단치로 판단되는 {{ v.inspect.count|intcomma }}개 종목 (상하위 각 2.5%)이 집계 대상에서 제외되었습니다: <a class="text-decoration-none" type="button" id="outliersModalTrigger-{{ k }}" data-bs-toggle="modal" data-bs-target="#outliersModal-{{ k }}">극단치로 제외된 종목 확인하기</a>.</li>
              {% endif %}
            </ul>
          </li>
          <li>이에 따라 총 {{ v.desc.종목수|floatformat:"0" | intcomma }}개 종목에 대한 집계결과를 확인할 수 있습니다.</li>
          <li><a href="#" class="text-decoration-none">데이터 확인하기</a></li>
        </ul>
        <p class="fw-bold">분포 정보</p>
        <table class="table table-hover mb-5">
          <thead>
            <tr>
              {% for h in v.desc.keys %}
              <th>{{ h }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for r in v.desc.values %}
              <td>{% if forloop.first %}{{ r|floatformat:"0" | intcomma }}{% else %}{{ r | floatformat:"4"}}{% endif %}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-6">
            {% autoescape off %}
            {{ v.hist }}
            {% endautoescape %}
          </div>
          <div class="col-6">
            <div class="row" id="searchValue-{{ k }}">
              {% verbatim %}
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input class="form-control form-control-lg" type="text" type="search" placeholder="종목명 혹은 종목코드" v-model="searched" @change="getMsg">
              </div>
              {% endverbatim %}
              <div id="resultMsg-{{ k }}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- modal for missings -->
    <div class="modal fade" id="missingsModal-{{ k }}" tabindex="-1" aria-labelledby="missingsModal-{{k}}-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="missingsModal-{{ k }}-label">결측치</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <thead>
                <th>종목코드</th>
                <th>종목명</th>
              </thead>
              <tbody>
                {% for r in v.inspect.missings.data %}
                <tr>
                  <td>{{ r.stock_code }}</td>
                  <td>{{ r.corp_name }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="outliersModal-{{ k }}" tabindex="-1" aria-labelledby="outliersModal-{{k}}-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="outliersModal-{{ k }}-label">결측치</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <thead>
                <th>종목코드</th>
                <th>종목명</th>
                <th>값</th>
              </thead>
              <tbody>
                {% for r in v.inspect.outliers.data %}
                <tr>
                  <td>{{ r.stock_code }}</td>
                  <td>{{ r.corp_name }}</td>
                  <td>{{ r.value }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% block js %}

<script>
  var missingsModal1 = document.getElementById('missingsModal-CFS_KOSPI')
  var missingsInput1 = document.getElementById('missingsModalTrigger-CFS_KOSPI')
  missingsModal1.addEventListener('shown.bs.modal', function () {
    missingsInput1.focus()
  })

  var missingsModal2 = document.getElementById('missingsModal-OFS_KOSPI')
  var missingsInput2 = document.getElementById('missingsModalTrigger-OFS_KOSPI')
  missingsModal2.addEventListener('shown.bs.modal', function () {
    missingsInput2.focus()
  })

  var missingsModal3 = document.getElementById('missingsModal-CFS_KOSDAQ')
  var missingsInput3 = document.getElementById('missingsModalTrigger-CFS_KOSDAQ')
  missingsModal3.addEventListener('shown.bs.modal', function () {
    missingsInput3.focus()
  })

  var missingsModal4 = document.getElementById('missingsModal-OFS_KOSDAQ')
  var missingsInput4 = document.getElementById('missingsModalTrigger-OFS_KOSDAQ')
  missingsModal4.addEventListener('shown.bs.modal', function () {
    missingsInput4.focus()
  })


  var outliersModal1 = document.getElementById('outliersModal-CFS_KOSPI')
  var outliersInput1 = document.getElementById('outliersModalTrigger-CFS_KOSPI')
  outliersModal1.addEventListener('shown.bs.modal', function () {
    outliersInput1.focus()
  })

  var outliersModal2 = document.getElementById('outliersModal-OFS_KOSPI')
  var outliersInput2 = document.getElementById('outliersModalTrigger-OFS_KOSPI')
  outliersModal2.addEventListener('shown.bs.modal', function () {
    outliersInput2.focus()
  })

  var outliersModal3 = document.getElementById('outliersModal-CFS_KOSDAQ')
  var outliersInput3 = document.getElementById('outliersModalTrigger-CFS_KOSDAQ')
  outliersModal3.addEventListener('shown.bs.modal', function () {
    outliersInput3.focus()
  })

  var outliersModal4 = document.getElementById('outliersModal-OFS_KOSDAQ')
  var outliersInput4 = document.getElementById('outliersModalTrigger-OFS_KOSDAQ')
  outliersModal4.addEventListener('shown.bs.modal', function () {
    outliersInput4.focus()
  })

</script>

<script>
  const arName = "{{ main.data.account_ratio.labelKor }}";
  function getMethod(x) {
    if (x === 'CFS') {
      return '연결'
    } else {
      return '별도'
    }
  };
  function getMarket(x) {
    if (x === 'KOSPI') {
      return '코스피'
    } else {
      return '코스닥'
    }
  };
  function getStatus(x) {
    if ( x >= 80 ) {
      return '낮은 수준입니다.'
    } else if ( (x >= 60) && (x < 80) ) {
      return '다소 낮은 수준입니다.'
    } else if ( (x >= 40) && (x < 60) ) {
      return '중간 수준입니다.'
    } else if ( (x >= 20) && (x < 40) ) {
      return '다소 높은 수준입니다.'
    } else if ( x < 20 ) {
      return '높은 수준입니다.'
    }
  };
  function appendAlert(msg, status, k) {
    var msgPlaceholder = document.getElementById('resultMsg-' + k)
    var wrapper = document.createElement('div');
    wrapper.innerHTML =
      '<div class="alert alert-' + status + ' alert-dismissable mb-0" role="alert"</div>'
        + msg
        + '<button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button></div>';
    msgPlaceholder.append(wrapper)
  };

</script>
{% for k, v in main.data.results.items %}
<script>
  Vue.createApp({
    data() {
      return {
        nCorp: "{{ v.desc.종목수|floatformat:"0" | intcomma }}",
        method: getMethod("{{ k|slice:":3"}}"),
        market: getMarket("{{ k|slice:"4:"}}"),
        valueAll: JSON.parse("{{ v.search_data | escapejs }}"),
        searched: null,
        matched: null,
      }
    },
    methods: {
      getMsg() {
        this.matched = this.valueAll.find( x =>
          x.stock_code === this.searched
        );
        if (this.matched == null) {
          this.matched = this.valueAll.find( x =>
          x.corp_name === this.searched
        )};

        if (this.matched == null) {
          msg = `${this.market} 시장 내 해당 종목 (${this.searched})이 존재하지 않습니다.`;
          status = 'danger';
        } else if (this.matched.is_missing === true) {
          msg = `${this.matched.corp_name} (${this.matched.stock_code})의 ${this.method} 재무제표상 ${arName}값이 결측되었습니다.`;
          status = 'danger';
        } else if (this.matched.is_outlier === true) {
          msg = `${this.matched.corp_name} (${this.matched.stock_code})의 ${this.method} 재무제표상 ${arName}값이 ${arName}값은 ${this.matched.by}년도 ${this.matched.bq}분기 현재 ${this.matched.value}로 극단치로 분류되었습니다.`;
          status = 'warning';
        } else {
          msg = `${this.matched.corp_name} (${this.matched.stock_code})의 ${this.method} 재무제표상 ${arName}값은 ${this.matched.by}년도 ${this.matched.bq}분기 현재 ${this.matched.value}로 집계대상 ${this.nCorp}개 종목 중 ${this.matched.rank}위, 상위 ${this.matched.rankpct}%의 ${getStatus(this.matched.rankpct)}`;
          status = 'secondary';
        };
        appendAlert(msg, status, "{{ k }}")
      },
    }
  }).mount("#searchValue-{{ k }}");
</script>
{% endfor %}
{% endblock %}
