{% extends '../index.html' %}
{% load static %}
{% block title %}Dashboard-rankings{% endblock %}
{% block css %}
<!-- <link rel="stylesheet" href="{% static 'css/docs.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/rankings-sidebar.css' %}">
<link rel="stylesheet" href="{% static 'node_modules/katex/dist/katex.min.css' %}">
{% endblock %}

{% block content %}
<!-- <div class="container-fluid p-0 bd-layout"> -->
<div class="container-fluid p-0">
  <div class="row">
    {% include './rankings_sidebar.html' %}
    {% if main != None %}
      {% if main.status == 'inspect' %}
      {% include './rankings_main_inspect.html'%}
      {% elif main.status == 'display_result' %}
      {% include './rankings_main_display_result.html' %}
      {% endif %}
    {% else %}
    {% endif %}
  </div>
</div>


{% endblock %}

{% block js %}
<script src="{% static 'js/sidebars.js' %}"></script>
<script src="{% static 'node_modules/katex/dist/katex.min.js' %}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
{% endblock %}
