{% extends '../index.html' %}
{% load static %}
{% load humanize %}
{% block title %}Dashboard-Stock Reports{% endblock %}

{% block css %}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css"> -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


{% endblock %}

{% block content %}
<div class="container py-4">

<!-- search banner   -->
<div class="py-5 text-center container" id="searchStkRpt">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto py-3">
      <h1 class="mb-3 fw-light">종목별 보고서 검색</h1>
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
        <input class="form-control form-control-lg" type="text" type="search" placeholder="종목명 또는 종목코드" @input="updateSearched">
      </div>
    </div>
    <div id="searchResult">
      <div class="d-flex justify-content-center py-5" v-if="notSearchingNow">
        <div class="col-lg-3">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <p class="mt-3 text-lead fw-bold">{{ corp.corpName }} ({{ corp.stockCode }})</p>
        </div>
      </div>
      <div class="d-flex justify-content-center py-5" v-else-if="filteredLength <= 4">
        {% verbatim %}
        <a class="col-lg-3 btn" :href="corp.stock_code" v-for="corp in filtered">
        <!-- <div > -->
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <p class="mt-3 text-lead fw-bold">{{ corp.corp_name }} ({{ corp.stock_code }})</p>
          <!-- </div> -->
        </a>
        {% endverbatim %}
      </div>
    </div>
  </div>
</div>

<p>[주의사항/출처/...]</p>
<hr>

<!-- report -->
<div class="py-lg-4">

<!-- report header -->
<div class="col-md-9 col-lg-9 py-0" id="stkrpt-header">
    <h1>{{corp.corpName}} ({{corp.stockCode}})</h1>
</div>
<hr class="mt-0">

<!-- corp info -->
<div class="py-3" id="corpInfo">
  <h4 class="mb-3 fw-bold">기업 개황</h4>
  <table id="corpInfo" class="table table-hover">
    <tr>
      <th>상장구분</th>
      <td>{{ corp.market }}</td>
      <th>상장일</th>
      <td>{{ corp.listedAt }}</td>
    </tr>

    <tr>
      <th>CEO</th>
      <td>{{ corp.ceo }}</td>
      <th>결산월</th>
      <td>{{ corp.fye }}</td>
    </tr>
    <tr>
      <th>업종</th>
      <td>{{ corp.industry }}</td>
      <th>홈페이지</th>
      <td>
        {% if corp.homepage %}
        <a href="{{ corp.homepage }}" class="text-decoration-none">{{ corp.homepage }}</a>
        {% else %}
        -
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>주요 상품</th>
      <td colspan="3">{{ corp.product }}</td>
    </tr>
  </table>
</div>

<!-- ar viewer -->
{% include './stkrpt_ar.html' %}

<!-- recent history -->
<div class="py-3" id="recentHistory">
  <h4 class="mb-3 fw-bold">{{ corp.corpName }} ({{ corp.stockCode }}) 관련 오픈데이터 최근 변경사항</h4>
  <ul class="list-group">
    {% for k, v in recent_history.items %}
    <li class="list-group-item list-group-item-action bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#historyItems{{ forloop.counter }}" aria-expanded="false" aria-controls="historyItems{{ forloop.counter }}">{{ k }}</li>
    <div class="collapse {% if forloop.counter == 2 %}show{% endif %}" id="historyItems{{ forloop.counter }}">
      {% if v|length == 0 %}
      <li class="list-group-item">최근 {{ k }}에 대한 변경사항이 존재하지 않습니다.</li>
      {% else %}
      {% for h in v %}
      <li class="list-group-item text-truncate">{{ h }}</li>
      {% endfor %}
      {% endif %}
    </div>
    {% endfor %}
  </ul>
</div>

<!-- fs viewer -->
<div class="py-3" id="fsViewer">
  <h4 class="mb-3 fw-bold">재무제표 검색</h4>
  <div class="formbox">
    {% if fs_viewer.fs_list == None %}
    <p class="text-center text-muted fs-2">조회 가능한 재무제표가 존재하지 않습니다.</p>
    {% else %}
    <form method="post" id="fsQueryForm" class="mb-3">
      {% csrf_token %}
      <input type="hidden" name="stock_code" value="{{ corp.stockCode }}">
      <input type="hidden" name="fsFilter" value="true">
      <!-- <input type="hidden" name=""> -->
      <div class="input-group mb-3">
        <span class="input-group-text col-md-2">구분</span>
        <div class="form-control col-md-10">
          <div class="form-check form-check-inline col-md-10" v-for="c in choices.ftnm">
            {% verbatim %}
            <input type="radio" name="ftnm_selected" v-bind:value="c" v-model="selected.ftnm" @change="validateQuery">
            <!-- <input type="radio" name="ftnm_selected" v-bind:value="c" v-model="selected.ftnm" @change="validateQuery"> -->
            <label> {{ c }} </label>
            {% endverbatim %}
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text col-md-2">회계연도</span>
        <div class="form-control col-md-10">
          <div class="form-check form-check-inline col-md-10" v-for="c in choices.by">
            {% verbatim %}
            <input type="radio" name="by_selected" v-bind:value="c" v-model="selected.by" @change="validateQuery">
            <label> {{ c }} </label>
            {% endverbatim %}
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text col-md-2">분기</span>
        <div class="form-control col-md-10">
          <div class="form-check form-check-inline col-md-10" v-for="c in choices.bq">
            {% verbatim %}
            <input type="radio" name="bq_selected" v-bind:value="c" v-model="selected.bq" @change="validateQuery">
            <label> {{ c }}분기 </label>
            {% endverbatim %}
          </div>
        </div>
      </div>
      <button class="btn btn-primary" role="submit" v-if="isValid">조회</button>
      <div v-else>
        <button class="btn btn-primary" disabled v-else>조회</button>
        {% verbatim %}<span class="inline text-danger">*{{ message }}</span>{% endverbatim %}
      </div>
    </form>
    {% endif %}
    {% if fs_viewer.treeview_data != None %}
    <table id="fs" class="table table-secondary table-striped">
      <thead>
        <th scope="col">{{ fs_viewer.treeview_data.title }}</th>
        <th scope="col" class="text-end">
          <div class="btn-group" role="group">
            <button id="expander" type="button" class="btn btn-secondary btn-sm">모두 펼치기</button>
            <button id="collapser" type="button" class="btn btn-outline-secondary btn-sm">모두 접기</button>
          </div>
        </th>
      </thead>
      <tbody>
        {% for fd in fs_viewer.treeview_data.data %}
        <tr data-node-id="{{ fd.idt }}" data-node-pid="{{ fd.pidt }}">
          <td>{{ fd.obj.labelKor }} {% if fd.obj.is_standard is not True %}*{% endif %}</td>
          {% if fd.obj.value != None %}
          <td class="text-end">{{ fd.obj.value | intcomma }} {{ fd.obj.currency }}</td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>


</div>

{% endblock %}

{% block js %}
<!-- js script for searching stock -->
<script>
  const corpAll = JSON.parse("{{ search_data | escapejs }}")
  Vue.createApp({
    data() {
      return {
        searched: null,
        corpAll: corpAll,
      }
    },
    computed: {
      notSearchingNow() {
        return this.searched == null
      },
      filtered() {
        if (this.searched != null) {
          return this.corpAll.filter( x =>
          (x.corp_name.startsWith(this.searched))
          || (x.stock_code.startsWith(this.searched))
          );
        }
      },
      filteredLength() {
        if (this.searched != null) {
          return this.filtered.length;
        }
      }
    },
    methods: {
      updateSearched(e) {
        this.searched = e.target.value
      }
    }
  }).mount('#searchStkRpt')
</script>

<!-- js script for searching fs -->
<!-- <script>
  const fsAll = JSON.parse("{{ fs_viewer.fs_list | escapejs }}")
  Vue.createApp({
    data() {
      return {
        fsAll: fsAll,
        choices: {
            ftnm: [... new Set(fsAll.map(x => x.ftnm))],
            // labelKor: [... new Set(fsAll.map(x => x.label_kor))],
            by: [... new Set(fsAll.map(x => x.by))],
            bq: [... new Set(fsAll.map(x => x.bq))],
        },
        selected: {
          ftnm: null,
          by: null,
          bq: null,
        },
        isValid: false,
        message: '모든 항목을 선택하세요.',
      }
    },
    methods: {
      validateQuery() {
        allChecked = !Object.values(this.selected).includes(null)
        fsExists = this.fsAll.some( x =>
          JSON.stringify(this.selected) === JSON.stringify(x)
        )
        this.isValid =  allChecked && fsExists
        if ( this.isValid ) {
          this.message = null
        } else if ( !allChecked ) {
          this.message = '모든 항목을 체크하세요'
        } else if ( !fsExists ) {
          this.message = '해당 재무제표가 존재하지 않습니다.'
        }
      },
    }
  }).mount("#fsQueryForm")
</script>

<script src="{% static 'js/jquery-simple-tree-table.js' %}"></script>
<script>
  $('#fs').simpleTreeTable({
    expander: $('#expander'),
    collapser: $('#collapser'),
  });
</script> -->
{% endblock %}
