{% load static %}

<div class="mb-3" id="arViewer">
  <div class="mb-5" id="arViewerHeader">
    <h4 class="mb-3 fw-bold">재무비율 분석</h4>
    <p class="text-lead text-muted fs-5">재무비율 정의, 의미 (안정성, 수익성, 성장성, ...), 재무비율 분석의 중요성, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam ex quae, impedit praesentium, iusto obcaecati qui eos iure alias, voluptates veniam harum amet error voluptate, assumenda est nihil quisquam. Quas!...  <a href="#">더보기</a></p>
  </div>
  <div class="mb-5" id="arLatest">
    <h5 class="mb-3 fw-bold"><i class="bi bi-chevron-double-right text-secondary"></i> 재무비율 현황 상세</h5>
    <div id="larTable">
      <table class="table">
        <thead>
          <tr>
            <th>재무비율명</th>
            <th>구분</th>
            <th>기준일</th>
            <th>값</th>
            <th>전기 대비</th>
            <th>전년 동기 대비</th>
            <th>평년 대비</th>
            <th>시장 평균 대비</th>
          </tr>
        </thead>
        <tbody>
          {% for larv in ar_viewer.larv_all %}
          <tr>
            <td>{{ larv.ar.labelKor }}</td>
            <td>{{ larv.ar.div }}</td>
            <td>{% if larv.fqe %}{{ larv.fqe|date:"Y-m-d" }}{% else %}-{% endif %}</td>
            <td class="fw-bold">{% if larv.value %}{{ larv.value|floatformat:"4" }}{% else %}-{% endif %}</td>
            {% if larv.tdev_q1 %}
            <td class="text-{% if larv.tdev_q1 > 1 %}danger{% elif larv.tdev_q1 == 1 %}dark{% elif larv.tdev_q1 < 1 %}primary{% endif %}">{{ larv.tdev_q1|floatformat:"2" }}배</td>
            {% else %}
            <td>-</td>
            {% endif %}
            {% if larv.tdev_y1 %}
            <td class="text-{% if larv.tdev_y1 > 1 %}danger{% elif larv.tdev_y1 == 1 %}dark{% elif larv.tdev_y1 < 1 %}primary{% endif %}">{{ larv.tdev_y1|floatformat:"2" }}배</td>
            {% else %}
            <td>-</td>
            {% endif %}
            {% if larv.tdev %}
            <td class="text-{% if larv.tdev > 1 %}danger{% elif larv.tdev == 1 %}dark{% elif larv.tdev < 1 %}primary{% endif %}">{{ larv.tdev|floatformat:"2" }}배</td>
            {% else %}
            <td>-</td>
            {% endif %}
            {% if larv.pdev %}
            <td class="text-{% if larv.pdev > 1 %}danger{% elif larv.pdev == 1 %}dark{% elif larv.pdev < 1 %}primary{% endif %}">{{ larv.pdev|floatformat:"2" }}배</td>
            {% else %}
            <td>-</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <caption>
        <p class="form-text mb-1">* OPEN DART에 제출된 {{ corp.corpName }}의 연결재무제표로부터 산출된 재무비율의 현황을 나타냅니다.</p>
        <p class="form-text mb-1">* 재무비율 및 재무비율 관련 지표는 다음 사유로 결측될 수 있습니다: <a href="#">결측 사유 보러가기</a>.</p>
        <p class="form-text mb-1">
          * 전기 대비, 전년 동기 대비, 평년 대비, 시장 평균 대비 항목은 비교 대상과 해당 종목의 기준일 값 사이의 비율을 나타냅니다.
          비교 대상의 값이 1이고 해당 종목의 기준일 값이 1.1이라면 '1.1배'를 표시하며 '10% 증가' 혹은 '+10% 편차'와 동일한 의미를 가집니다. 반대로 0.9라면 '0.9배'를 표시하며 '10% 감소' 혹은 '-10% 편차'와 동일한 의미를 가집니다.
        </p>
        <p class="form-text mb-1">* 전기 대비 =  (기준일 값) / (직전 분기 값)</p>
        <p class="form-text mb-1">* 전년 동기 대비 = (기준일 값) / (직전 회계년도 동일 분기 값)</p>
        <p class="form-text mb-1">* 평년 대비 = (기준일 값) / (해당종목 전기간 평균값)</p>
        <p class="form-text mb-1">* 시장 평균 대비 = (기준일 값) / ({{ corp.market }} 전종목 전기간 평균값)</p>
      </caption>
    </div>
  </div>
  <div class="mb-5" id="arPanel">
    {% include './stkrpt_ar_panel.html' %}
  </div>
  <div class="mb-5" id="singleFaViewer">
    {% include './stkrpt_single_fa.html' %}
  </div>
  <div class="mb-5" id="customArViewer">
    {% include './stkrpt_ar_custom_ar.html' %}
  </div>
</div>
